<li><a class="waves-effect" href="#home"><i class="Small material-icons hide-on-med-and-up">home</i>Home</a></li>
<li><a class="waves-effect" href="#standings"><i class="Small material-icons hide-on-med-and-up">assignment</i>Standings</a></li>
<li><a class="waves-effect" href="#teams"><i class="Small material-icons hide-on-med-and-up">view_carousel</i>Team Information</a></li>
<li><a class="waves-effect" href="#matches"><i class="Small material-icons hide-on-med-and-up">event_note</i>Mathces</a></li>
<li><a class="waves-effect" href="#saved"><i class="Small material-icons hide-on-med-and-up">chrome_reader_mode</i>Saved</a></li>
<li><a class="waves-effect" href="#about"><i class="Small material-icons hide-on-med-and-up">phone_android</i>About</a></li>